## Load the data

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/raw/financial_loan.csv')
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

In [2]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment'],
      dtype='object')

## Inspect the data

In [2]:
# Display basic information and summary stats to understand the data better
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  object
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  object
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  object
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: float64(4), int64(5), object(15)
memory usage: 7.1+ MB
None
                 id     member_id  annual_income           dti   installment  \
count  3.857600e+04  3.857600e+04   3.857600e+04  38576.000000  38576.000000
mean   6.810371e+05  8.476515e+05   6.964454e+04      0.133274    326.862965
std    2.113246e+05  2.668105e+05   6.429368e+04      0.066662    209.092000
min    5.473400e+04  7.069900e+04   4.000000e+03      0.000000     15.690000
25%    5.135170e+05  6.629788e+05   4.150000e+04      0.082100    168.450000
50%    6.627280e+05  8.473565e+05   6.000000e+04      0.134200    283.045000
75%    8.365060e+05  1.045652e+06   8.320050e+04      0.185900    434.442500
max    1.077501e+06  1.314167e+06   6.000000e+06      0.299900   1305.190000

           int_rate   loan_amount     total_acc  total_payment
count  38576.000000  38576.000000  38576.000000   38576.000000
mean       0.120488  11296.066855     22.132544   12263.348533
std        0.037164   7460.746022     11.392282    9051.104777
min        0.054200    500.000000      2.000000      34.000000
25%        0.093200   5500.000000     14.000000    5633.000000
50%        0.118600  10000.000000     20.000000   10042.000000
75%        0.145900  15000.000000     29.000000   16658.000000
max        0.245900  35000.000000     90.000000   58564.000000

In [3]:
## Check missing values
df.isnull().sum()

id                          0
address_state               0
application_type            0
emp_length                  0
emp_title                1438
grade                       0
home_ownership              0
issue_date                  0
last_credit_pull_date       0
last_payment_date           0
loan_status                 0
next_payment_date           0
member_id                   0
purpose                     0
sub_grade                   0
term                        0
verification_status         0
annual_income               0
dti                         0
installment                 0
int_rate                    0
loan_amount                 0
total_acc                   0
total_payment               0
dtype: int64

Wd see here that there are 1438 unknown employment titles. I will replace them by "Unknown" in the dataset

In [4]:
# Handle missing data
# Replace missing values in 'emp_title' with 'Unknown'
df['emp_title'] = df['emp_title'].fillna('Unknown')

# Verify the replacement
print(df['emp_title'].isnull().sum(), "missing values after replacement.")

0 missing values after replacement.

In [9]:
# Saving the cleaned data to a new CSV file
df.to_csv('../data/processed/financial_loan_cleaned.csv', index=False)

print("Data cleaning complete and saved to financial_loan_cleaned.csv.")

Data cleaning complete and saved to financial_loan_cleaned.csv.

In [4]:
# List of columns to convert to datetime
date_columns = ['issue_date', 'last_payment_date', 'next_payment_date']

# Convert each column to datetime
for column in date_columns:
    df[column] = pd.to_datetime(df[column], format='%d-%m-%Y')

# Optionally, verify the conversion
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  datetime64[ns]
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(5), object(12)
memory usage: 7.1+ MB
None